<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nowe ogłoszenie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
  
<style>
p.pp1{
font-size: 150%;
padding:5px;
}

br {
line-height: 110%;
}

input.ng-invalid {
    background-color:yellow;
}
input.ng-valid {
    background-color:lightgreen;
}


</style>

</head>

<body style="background-color:powderblue;">

<div class="container">
<div class="text-center">
<h1>Rejestracja</h2>
</div>
</div>
<div class="row">
<div class="col-sm-5" align="right">
<br><br>
<p class="pp1">Login:</p>
<p class="pp1">Hasło:</p>
<p class="pp1">Imię:</p>
<p class="pp1">Nazwisko:</p>
<p class="pp1">Wykształcenie:</p>
<p class="pp1">Uczelnia:</p>
<p class="pp1">Kierunek:</p>
<p class="pp1">Email:</p>
<p class="pp1">Pytanie pomocnicze:</p>
<p class="pp1">Odpowiedź:</p>
</div>
<div class="col-sm-3">
<div class="text-center">

<form ng-app="">
<div class="form-group">
<br><br>
<input type="text" class="form-control" required id="log" ng-model="log" value=""><br>

<!--<input type="password" class="form-control" required id="pswd" value=""></br>-->
<input type="password" class="form-control" ng-model="psw" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
title="Hasło musi zawierać co najmniej jedną liczbę, jedną wielką i małą literę, i co najmniej 8 znaków." required>
</br>





<input type="text" ng-model="name" class="form-control" required  id="name" value=""><br>
<input type="text" ng-model="sname" class="form-control" required  id="sname" value=""><br>
<select class="form-control" style="background-color:lightgreen;" id="educ">
<option>1</option>
<option>2</option>
</select><br>
<select class="form-control" style="background-color:lightgreen;"  id="school">
<option>1</option>
<option>2</option>
</select><br>
<input type="text" ng-model="spec" class="form-control" required  id="spec" value=""><br>
<input type="email" ng-model="mail" class="form-control" required  id="mail" value=""><br>
<input type="text" ng-model="question" class="form-control" required  id="question" value=""><br>
<input type="password" ng-model="answer" class="form-control" required  id="answer" value="">



<br><br>
</div>




</div>
</div>
<div class="col-sm-4"></div>
</div>

<div class="row">
<div class="col-sm-5"></div>
<div class="col-sm-3" align="center">



<div class="form-group">
<div class="text-center" align="center">
<button class="btn btn-primary btn-block" role="submit" align="center">Zarejestruj się </button>
<!--<a align="center" href="p1.html" class="btn btn-primary btn-block" role="button">Zarejestruj się</a>-->
</div>
</div>
</form>

</div>


</div>




</body>
</html>
