/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('../../icons/430376-PE5X2A-39.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.modal-header {
    text-align: center;
}

#treeview {
    height: 400px;
}

.options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: #f5f5f5;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}

.option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    width: 100%;
    margin-top: 5px;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal.fade.in {
   opacity: 1;
}
.modal.fade .modal-dialog {
   transform: translate(0, 0) !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
 }
.modal-header{
   display: block;
}
.modal-content{
   border-radius: 1.3rem !important;
}
