<div class="modal-header">
    <h3>Wybierz kategorię</h3>
</div>
<div class="modal-body">
    <div class="dx-viewport">

        <div class="demo-container">
            <div id="treeview" dx-tree-view="treeViewOptions"></div>
            <div class="options">
                <div class="caption">Options</div>
                <div class="option">
                    <span>Search mode</span>
                    <div dx-select-box="searchModeOptions"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ok</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>