<!DOCTYPE html>
<html  ng-app="app" lang="en">
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>

<head>
    <title>Nowe ogłoszenie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>

        br {
            line-height: 120%;
        }
    </style>

</head>
<body ng-controller="UserCRUDCtrl" style="background-color:powderblue;">

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="center">
            <div class="btn-group btn-group-lg" role="group" >
                <a href="board.html" style="margin-top: 8px;" class="btn btn-info btn-block" role="button">Ogłoszenia</a>
                <a href="msg.html" class="btn btn-info btn-block" role="button">Wiadomości</a>
                <a href="add.html" class="btn btn-info btn-block active" role="button">Dodaj ogłoszenie</a>
            </div>
        </div>
        <div class="col-sm-3" align="right">
            <form>
                Witaj _____<br>
                <a href="index.html">Wyloguj
                </a>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4" align="right">
            <br><br>
            <h3>Tytuł:</h3><br><br>
                <h3>Kategoria:</h3><br><br>
                    <h3>Cena:</h3><br><br>
                        <h3>Opis:</h3><br><br>
        </div>
        <div class="col-sm-4" style="width: 100%;">
            <div class="text-center">

                <form id="adding">
                    <div class="form-group">
                        <br><br>
                        <input type="text" class="form-control"  ng-model="title" >
                        <br><br>
                        <select class="form-control" ng-model="categoryId">
                            <option>1</option>
                            <option>2</option>
                            <option>8</option>
                            <option>13</option>
                        </select>
                        <br><br>
                        <input type="text" class="form-control" ng-model="price"><br><br>
                        <textarea style="width: 100%; resize: none;"  rows="5" ng-model="description">
</textarea><br><br>
<!--<a href="add.html" class="btn btn-primary btn-block" role="button">Dodaj</a>-->
                        <div>
                        <button ng-click="addAnnouncement(title,categoryId,price,description)" class="btn btn-primary btn-block" allign="center">Dodaj</button>
                        <p style="color: green">{{message}}</p>
                        <p style="color: red">{{errorMessage}}</p>
                        <br><br>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>
