<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/app.js"></script>
<head>
    <title>Ogłoszenia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body style="background-color:powderblue;">

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="middle">
            <div class="btn-group btn-group-lg" role="group" >
                <a href="board.html" style="margin-top: 8px;" class="btn btn-info btn-block active" role="button">Ogłoszenia</a>
                <a href="msg.html" class="btn btn-info btn-block" role="button">Wiadomości</a>
                <a href="add.html" class="btn btn-info btn-block " role="button">Dodaj ogłoszenie</a>
            </div>
        </div>
        <div class="col-sm-3" align="right" id="test">
            <form>
                Witaj _____<br>

                <a id="log" href="index.html">Wyloguj
                </a>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" align="right">
            <br><br>
            <h2>Kategoria:</h2><br>
        </div>
        <div class="col-sm-4">
            <div class="text-center">

                <form>
                    <br><BR>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <br>
                </form>
            </div>



        </div>
        <div class="col-sm-4">
        </div>

            <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Wystawiający</th>
                    <th>Cena</th>
                    <th>Średnia ocen</th>
                    <th>Kontakt</th>
                </tr>
                </thead>

            </table>
        </div>

    </div>


</div>

<div ng-controller="UserCRUDCtrl">
    <button ng-click="getAllUsers()">Get all Users</button><br />
    <br /> <br />
    <div ng-repeat="usr in users">
        {{usr.name}} {{usr.email}}
    </div>
</div>


</body>
</html>
