<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ogłoszenia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>

    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery-3.1.0.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.light.css" />
    <script>window.angular || document.write(decodeURIComponent('%3Cscript src="js/angular.min.js"%3E%3C\/script%3E'))</script>
    <script src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>

    <link rel="stylesheet" type ="text/css" href ="styles/styles.css" />

    <script src="js/app.js"></script>
    <script src="js/treeView.js"></script>

    <script src="js/data.js"></script>

    <style>

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    </style>

</head>
<body ng-app="DemoApp" style="background-color:powderblue;">

<div class="container" ng-controller="treeController">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="middle">
            <div class="btn-group btn-group-lg" role="group" >
                <a href="board.html" style="margin-top: 8px;" class="btn btn-info btn-block active" role="button">Ogłoszenia</a>
                <a href="msg.html" class="btn btn-info btn-block" role="button">Wiadomości</a>
                <a href="add.html" class="btn btn-info btn-block " role="button">Dodaj ogłoszenie</a>
            </div>
        </div>
        <div class="col-sm-3" align="right" id="test">
            <form>
                Witaj _____<br>

                <a id="log" href="index.html">Wyloguj</a>
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-3" align="center">
        <br><br>
        <div class="row">

            <div class="column">
                <div class="demo-container" >
                    <div class="form">
                        <div id="simple-treeview" dx-tree-view="treeViewOptions"></div>
                        <div id="product-details" ng-if="productDbId">


                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>

        <div class="col-sm-6" align="center">
            <br><br>
            <div class="column">
                <div ng-controller="UserCRUDCtrl" class="table-responsive" >

                    <table class="table table-bordered table-sm" ng-init="getAnnouncements()">
                        <thead>
                        <tr ng-init="getAllUsers()">

                            <th>Tytuł</th>
                            <th>Wystawiający</th>
                            <th>Cena</th>
                            <th>Średnia ocen</th>
                        </tr>
                        <tr ng-repeat="a in announcements|filter:{'categoryId': cat}:true">
                            <td ng-click="getAnnouncement(a.id)" onclick="myfunction()" style="cursor:pointer; text-decoration:underline;">{{a.title}}</td>
                            <td ng-repeat="xx in users|filter:{'id': a.userId}:true">{{xx.name}} {{xx.lastname}}</td>
                            <td>{{a.price}}</td>
                            <td ng-repeat="x in users|filter:{'id': a.userId}:true">{{x.rateAvg}}</td>

                        </tr>

                        </thead>

                    </table>
                    <div id="cat3"></div>


                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div ng-repeat="a in announcements|filter:{'id':announcement.id}:true">
                                <div>Tytuł: {{a.title}}</div>
                                <div ng-repeat="xx in users|filter:{'id': a.userId}:true"> Wystawiający: {{xx.name}} {{xx.lastname}}</div>
                                <div>Cena: {{a.price}}</div>
                                <div ng-repeat="xx in users|filter:{'id': a.userId}:true">Ocena: {{xx.rateAvg}}</div>
                                <div>Opis: {{a.description}}</div>

                            </div>
                        </div>
                    </div>
                    <p id="inf"></p>
                </div>
            </div>





        </div>




        </div>

    </div>
</div>

    <script>


        // Get the modal
        var modal = document.getElementById('myModal');
        var inf2= document.getElementById('myModal').innerHTML;
        var inf1= document.getElementById('myModal').innerHTML;
        inf2=inf1;
        // Get the button that opens the modal
        //var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];


        // When the user clicks the button, open the modal
        function myfunction(){

            modal.style.display = "block";
        }


        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <!--
    <div >
        <button ng-click="getAllUsers()">Get all usrs</button><br />
        <br /> <br />
        <div ng-repeat="usr in users|filter:{'id': user.id}:true">
            {{usr.name}} {{usr.lastname}} {{usr.id}}
        </div>
    </div>
    -->

</body>
</html>
