<!DOCTYPE html>
<html lang="en" ng-app="app1">
<head>
    <title>Wiadomości</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/messagesModule.js"></script>

</head>
<body style="background-color:powderblue;">

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="center">
            <div class="btn-group btn-group-lg" role="group">
                <a href="board.html" style="margin-top: 8px;" class="btn btn-info btn-block"
                   role="button">Ogłoszenia</a>
                <a href="msg.html" class="btn btn-info btn-block active" role="button">Wiadomości</a>
                <a href="add.html" class="btn btn-info btn-block" role="button">Dodaj ogłoszenie</a>
            </div>
        </div>
        <div class="col-sm-3" align="right">
            <form>
                Witaj _____
                <br>
                <a id="log" href="test2.html">Wyloguj</a>
            </form>
        </div>

    </div>
    <br>
    <div class="row" ng-controller="tableCtrl">
        <div class="col-sm-6" align="right" >
            <div class="table-responsive" ng-init="getAllUsers()">
                <div style="display: none;">Current user: {{cUser=2}}</div>
                <table class="table table-bordered table-sm" ng-init="getAllMessages()">
                    <thead>
                    <tr>
                        <th colspan="4" style="text-align: center;">Archiwum wiadomości wysłanych</th>
                    </tr>
                    <tr>
                        <th>Nr</th>
                        <th>Użytkownik</th>
                        <th>Odbiorca</th>
                        <th>Treść</th>
                        <th>Data</th>
                    </tr>
                    <tr ng-repeat="message in messages|filter:{senderId: cUser}:true" ng-init="getUser(message.senderId)" ng-init="getAllUsers()">
                        <td>{{$index}}</td>
                        <td >{{user.lastname}}</td>
                        <td ng-repeat="xx in users|filter:{'id': message.recipientId}:true">{{xx.lastname}}</td>
                        <td>{{message.content}}</td>
                        <td>{{message.timestamp | date:'dd-MM-yy HH:mm:ss'}}</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="col-sm-6" align="right">

            <div class="row" ng-controller="tableCtrl">

                    <div class="table-responsive" ng-init="getAllUsers()">
                        <l>  </l>
                        <table class="table table-bordered table-sm" ng-init="getAllMessages()">
                            <thead>
                            <tr>
                                <th colspan="4" style="text-align: center;">Archiwum wiadomości odebranych</th>
                            </tr>
                            <tr>
                                <th>Nr</th>
                                <th>Użytkownik</th>
                                <th>Nadawca</th>
                                <th>Treść</th>
                                <th>Data</th>
                            </tr>
                            <tr ng-repeat="message in messages|filter:{recipientId: cUser}:true" ng-init="getUser(message.recipientId)" ng-init="getAllUsers()">
                                <td>{{$index}}</td>
                                <td ng-click="getUser(user.id)" >{{user.lastname}}</td>
                                <td ng-repeat="xx in users|filter:{'id': message.senderId}:true">{{xx.lastname}}</td>
                                <td>{{message.content}}</td>
                                <td>{{message.timestamp | date:'dd-MM-yy HH:mm:ss'}}</td>
                            </tr>
                            </thead>
                        </table>

                </div>
            <!--<div class="text-center">
<textarea style="resize: none;" id="ta2" ng-model="texta" readonly rows="15" cols="40">

</textarea>-->


            </div>
        </div>
        <div class="col-sm-12" align="center"><form>
            <input type="number" ng-model="senderId" ng-value="2" style="display: none;">
            <input type="number" ng-model="recipientId" ng-value="25" text-align="center"><br>
            <input type="hidden" ng-model="timestamp" ng-value="timestamp">
            <div id="timestamp" style="display: none;"></div>
            <textarea ng-model="content" style="resize: none;" rows="1" cols="40">
                    </textarea><br>
            <button ng-click="addMsg(senderId, recipientId, timestamp, content)" style="width:307px">Wyślij</button>
        </form></div>
    </div>
</div>


</body>
</html>
