<!DOCTYPE html>
<html lang="en" ng-app="app1" ng-controller="tableCtrl">
<head>
    <title>Wiadomości</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/messagesModule.js"></script>

    <style>
        a.a1:link{
            background-color: slategrey;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a.a1:hover{
            background-color: darkslategrey;

        }
    </style>

</head>
<body onload="getCookie();" onload="passCookie();" ng-init="ps()" style="background-color:#e6e6ff;">
<div style="background-color:lightslategrey;">
    <div class="row" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="middle">
            <div class="btn-group btn-group-lg" role="group" >
                <a class="a1" href="board.html" style="color:white;">Ogłoszenia</a>
                <a class="a1" style="color:white; background-color: darkslategrey;" href="msg.html">Wiadomości</a>
                <a class="a1" style="color:white; " href="add.html">Dodaj ogłoszenie</a>
            </div>
        </div>
        <div class="col-sm-3" align="center" id="test">
            <form>
                Witaj <l style="color:greenyellow;" id="ckie"></l><br>
                <a id="log" onclick="resCookie()" style="color:blue;" href="index.html">Wyloguj</a>
            </form>
        </div>
    </div>
</div>

<div class="container" ng-init="getAllUsers()" >
    <p style="display: none;" id="pass" ng-model="passs" >{{pass2=ps()}}</p>
    <!--<input type="text" class="form-control" id="pass" ng-model="passs">-->
    <div style="display: none;" ng-model="pass2">{{ps()}}</div>
    <div style="display: none;" ng-repeat="u in users|filter:{email: pass2}:true" ng-init="cUser=u.id">
        <p style="display: none;" id="cUs">{{cUser}}</p>
        <p style="display: none;" ng-init="ps2(cUser)"></p>
    </div>


    <!--<div id="pass" >Current user: {{cUser=}}</div>  damian.michalski@student.put.poznan.pl-->

    <br>
    <div class="row" >
        <div class="col-sm-6" align="right" style="border: 1px solid black;" >
            <div class="table-responsive" >

                <table class="table table-bordered table-sm" ng-init="getAllMessages()">
                    <thead>
                    <tr>
                        <th colspan="4" style="text-align: center;">Archiwum wiadomości wysłanych</th>
                    </tr>
                    <tr>
                        <th>Nr</th>
                        <th>Odbiorca</th>
                        <th>Treść</th>
                        <th>Data</th>

                    </tr>
                    <tr ng-repeat="message in messages|filter:{senderId: senderId}:true" ng-init="getUser(message.senderId)" ng-init="getAllUsers()">
                        <td>{{$index}}</td>
                        <td style="color:blue; cursor: pointer;"ng-repeat="xx in users|filter:{id: message.recipientId}:true" ng-click="recipient(message.recipientId)">{{xx.lastname}}</td>
                        <td>{{message.content}}</td>
                        <td>{{message.timestamp | date:'dd-MM-yy HH:mm:ss'}}</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="col-sm-6" align="right" style="border: 1px solid black;">

            <div class="row" >

                <div class="table-responsive" ng-init="getAllUsers()">
                    <l>  </l>
                    <table class="table table-bordered table-sm" ng-init="getAllMessages()">
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align: center;">Archiwum wiadomości odebranych</th>
                        </tr>
                        <tr>
                            <th>Nr</th>
                            <th>Nadawca</th>
                            <th>Treść</th>
                            <th>Data</th>

                        </tr>
                        <tr ng-repeat="message1 in messages|filter:{recipientId: senderId}:true" ng-init="getUser(message1.recipientId)" ng-init="getAllUsers()">
                            <td>{{$index}}</td>
                            <td style="color:blue; cursor: pointer;" ng-click="recipient(message1.senderId)" ng-repeat="xx in users|filter:{'id': message1.senderId}:true">{{xx.lastname}}</td>
                            <td>{{message1.content}}</td>
                            <td>{{message1.timestamp | date:'dd-MM-yy HH:mm:ss'}}</td>
                        </tr>
                        </thead>
                    </table>

                </div>
                <!--<div class="text-center">
    <textarea style="resize: none;" id="ta2" ng-model="texta" readonly rows="15" cols="40">

    </textarea>-->


            </div>
        </div>
        <div class="col-sm-12" align="center">

            <input type="hidden" ng-model="timestamp" ng-value="timestamp">
            <div id="timestamp" style="display: none;"></div>

            <div  style="color: sandybrown; font-size: 300%;">Odbiorca:</div>
            <input type="hidden" ng-model="abc" type="number" onload="getCookie()" id="miig">
            <input type="hidden" ng-init="getAllUsers()" ng-value="share(abc)" type="number" ng-model="recipientId">
            <div style="color: sandybrown; font-size: 300%;" ng-repeat="u in users|filter:{id: recipientId}:true">{{u.lastname}}</div>
            <textarea ng-model="content" style="resize: none;" rows="1" cols="40">
                    </textarea><br>
            <button ng-click="addMsg(senderId, recipientId, timestamp, content)" style="width:307px" onClick="window.location.reload()">Wyślij</button>
            </form></div>
    </div>
</div>


<script>

    function passCookie() {
        document.getElementById("pass").innerHTML=document.getElementById("ckie").value;
        document.getElementById("pass2").innerHTML=document.getElementById("ckie").value;
    }

    function resCookie() {
        lo=document.getElementById("log").value;
        document.cookie = "login2=" + " " + ";";
    }
    function getCookie() {
        var name = "login2=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');

        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                document.getElementById("ckie").innerHTML = c.substring(name.length, c.length);
                document.getElementById("pass").innerHTML = c.substring(name.length, c.length);
                document.getElementById("pass").value = c.substring(name.length, c.length);
            }
        }

        var name2 = "mig=";
        var decodedCookie2 = decodeURIComponent(document.cookie);
        var ca2 = decodedCookie2.split(';');

        for(var i = 0; i < ca2.length; i++) {
            var c2 = ca2[i];
            while (c2.charAt(0) == ' ') {
                c2 = c2.substring(1);
            }
            if (c2.indexOf(name2) == 0) {
                document.getElementById("miig").innerHTML = c.substring(name2.length, c2.length);
                document.getElementById("miig").value = c.substring(name2.length, c2.length);
                return c2.substring(name2.length, c2.length);
            }
        }


        return "";
    }

</script>

</body>
</html>
