<!DOCTYPE html>
<html  ng-app="app" lang="en">
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
<head>
    <title>Nowe ogłoszenie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>
        p.pp1{
            font-size: 150%;
            padding:5px;
        }

        br {
            line-height: 110%;
        }

        input.ng-invalid {
            background-color:yellow;
        }
        input.ng-valid {
            background-color:lightgreen;
        }


    </style>

</head>

<body ng-controller="UserCRUDCtrl"  style="background-color:powderblue;">

<div class="container">
    <div class="text-center">
        <h1>Rejestracja</h1>
    </div>
</div>
<form name="myForm" class="form-horizontal">
<div class="row">
    <div class="col-sm-5" align="right">
        <br><br>

        <p class="pp1">Hasło:</p>
        <p class="pp1">Imię:</p>
        <p class="pp1">Nazwisko:</p>
        <p class="pp1">Wykształcenie:</p>
        <p class="pp1">Uczelnia:</p>
        <p class="pp1">Wydział:</p>
        <p class="pp1">Kierunek:</p>
        <p class="pp1">Email:</p>

    </div>
    <div class="col-sm-3">
        <div class="text-center">


                <div class="form-group">

                    <br><br>

                    <!--<input type="password" class="form-control" required id="pswd" value=""></br>-->
                    <input type="password" class="form-control" ng-model="user.password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="Hasło musi zawierać co najmniej jedną liczbę, jedną wielką i małą literę, i co najmniej 8 znaków." required>
                    </br>





                    <input type="text" ng-model="user.name" class="username form-control input-sm" required ng-minlength="3"/><br>
                    <input type="text" ng-model="user.lastname" class="form-control" required value=""><br>
                    <select class="form-control" style="background-color:lightgreen;" ng-model="user.education">
                        <option>Inz.</option>
                        <option>średnie</option>
                    </select><br>

                    <select class="form-control" ng-model="user.schoolId" style="background-color:lightgreen;">
                        <option ng-value="1">Politechnika Poznańska</option>
                    </select><br>
                    <input type="text" ng-model="user.department" class="form-control" required value=""><br>
                    <input type="text" ng-model="user.specialization" class="form-control" required  value=""><br>
                    <input type="email" ng-model="user.email" class="form-control" required value=""><br>



                    <br><br>
                </div>




        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-3" align="center">



        <div class="form-group">
            <div class="text-center" align="center">
                <button ng-click="addUser(user.name, user.email, user.lastname, user.password, user.education, user.schoolId, user.department, user.specialization)" class="btn btn-primary btn-block" align="center" > Zarejestruj się </button>
                <!--<a align="center" href="p1.html" class="btn btn-primary btn-block" role="button">Zarejestruj się</a>  ng-disabled="myForm.$invalid" -->
                <p style="color: green">{{message}}</p>
                <p style="color: red">{{errorMessage}}</p>
            </div>

        </div>


    </div>


</div>

</form>


</body>
</html>
